<!DOCTYPE html>
<html>
<head>
    <title>PG SessionManager help</title>
</head>
<body>
    <h1>PG SessionManager</h1>
    <p>Session Manager for Proctor and Gamble</p>

    <!-- object properties list -->
    <h2>Properties</h2>

    <table>
        <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UserName</td>
            <td>User name is used to display the message "Hello {{UserName}}"</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>Color of the message text</td>
        </tr>
        </tbody>
    </table>
    
    <p>See "Objects Library API" documentation for detailed information on creating 
        objects. Go to the Channel Designer and, from the help menu, click "Objects Library API".</p>
</body>
</html>
