/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-Aug-2017, 2:11:50 PM
    Author     : sebch
*/

@keyframes noautofill {
    to {
        color: #666;
        background: transparent;
        border-color: transparent;
        border-bottom: 1px solid #5f6970;
    }
}

html {
    font-size: 62.5%;
}

body {
    background-color: #202329;
    background-image: url('../images/bottompatternbg.png');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
    color: #d0d2d3;
    overflow: hidden;
}

@font-face {
    font-family: 'frutiger_boldregular';
    src: url('./fonts/frutiger-bold_18817-webfont.woff') format('woff2'),
         url('./fonts/frutiger-bold_18817-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigeritalic';
    src: url('./fonts/frutiger_italic-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerlight';
    src: url('./fonts/frutiger_light-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerroman';
    src: url('./fonts/frutiger_roman-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerblack';
    src: url('./fonts/frutiger_black-webfont.woff2') format('woff2'),
         url('./fonts/frutiger_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.frutiger-bold {
    font-family: 'frutiger_boldregular'
}

.frutiger-italic {
    font-family: 'frutigeritalic'
}

.frutiger-light {
    font-family: 'frutigerlight'
}

.frutiger-roman {
    font-family: 'frutigerroman'
}

.frutiger-black {
    font-family: 'frutigerblack'
}

.font-12 {
    font-size: 1.2rem;
}

.font-16 {
    font-size: 1.6rem;
}

.font-18 {
    font-size: 1.8rem;
}

.font-20 {
    font-size: 2rem;
}

.font-22 {
    font-size: 2.2rem;
}

.font-24 {
    font-size: 2.4rem;
}

.font-26 {
    font-size: 2.6rem;
}

.font-28 {
    font-size: 2.8rem;
}

.font-32 {
    font-size: 3.2rem;
}

.font-42 {
    font-size: 4.2rem;
}

.font-48 {
    font-size: 4.8rem;
}

.btn-rounded-pg {
    font-family: 'frutiger_boldregular';
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 1.5rem 8rem;
    border-radius: 50px;
}

.btn-rounded-small-pg {
    font-family: 'frutiger_boldregular';
    font-size: 2.2rem;
    text-transform: uppercase;
    padding: .4rem 4rem;
    border-radius: 2.2rem;
}

.btn-rounded-xsmall-pg {
    font-family: 'frutiger_boldregular';
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .4rem 2rem;
    border-radius: 2.2rem;
}

/** Navbar **/
#container nav {
    padding: 4px 42px;
    background-color: #343940;
}

.navbar-title {
    border-left: 1px solid #d0d2d3;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #d0d2d3;
}

.navbar-light .navbar-nav .nav-link {
    color: #d0d2d3;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .nav-link:active {
    color: #ffffff;
    background-color: transparent;
    border: 0;
}

/** Login Panel **/
.pg-login .card .form-group input {
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid #5f6970;
}

.pg-login .card input:-webkit-autofill {
    animation-name: noautofill;
    animation-fill-mode: both;
    -webkit-animation-name: noautofill;
    -webkit-animation-fill-mode: both;
}

.pg-login .card {
    margin-top: 120px;
    background-color: transparent;
}

.pg-login .card h1 {
    color:  #9cdaeb;
}

.pg-login .card label {
    color:  #bbbdbf;
}

.pg-login .card-block > h1,
.pg-login .card-block > form > .form-group {
    /* margin-bottom: 75px; */
    margin-bottom: 40px;
}

.pg-login .card-block > h2 {
    margin-bottom: 75px;
}

.pg-login .item-message {
    margin-bottom: 20px;
}

/** Sessions Panel **/
/** pg-session container **/
.pg-session-ct {
    /* height: 580px; */
    height: 100%;
}

.pg-session-ct h1 {
    color:  #9cdaeb;
}

/* .pg-sessions-table-ct {
    flex: 1;
} */


/** SLIDES GRID DISPLAY **/
.pg-slide-display-cards {
    list-style-type: none;
    width: 100%;
    padding: 30px 0 0 20px;
    margin: 0;
}

.pg-slide-display-cards li {
    /* height: 221px;
    width: 357px; */
    height: 136px;
    width: 220px;
    margin: 0 17px 45px 0; 
    padding: 0; 
    float: left; 
    font-size: 4em; 
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.pg-slide-display-cards li > img {
    height: 100%;
    width: 100%;
}

.cards-x-6 li {
    height: 175px;
    width: 283px;
}

.cards-x-5 li {
    height: 221px;
    width: 357px;
}

.cards-x-4 li {
    height: 275px;
    width: 445px;
}

.cards-x-3 #sortable {
    width: 1549px;
}

.cards-x-3 li {
    height: 300px;
    width: 486px;
}

.cards-x-2 #sortable {
    width: 1370px;
}

.cards-x-2 li {
    height: 400px;
    width: 648px;
}

.cards-x-1 #sortable {
    width: 640px;
}

.cards-x-1 li {
    height: 600px;
    width: 972px;
}

.slide-number {
    position: absolute;
    left: 50%;
    top: -32px;
    color: #929497;
}

/** sub-nav **/
.pg-subnav {
    padding: 16px 42px;
    background-color: transparent;
}

.pg-subnav h2 {
    color: #ffffff;
}

/** slides container **/

.slide-ct {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    flex: 1;
}

img.notes-icon {
    height: 50px;
    position: absolute;
    right: 45px;
    mix-blend-mode: difference;
}

img.light-icon {
    height: 50px;
    position: absolute;
    right: 0;
    mix-blend-mode: difference;
}

img.video-icon {
    height: 50px;
    position: absolute;
    left: 0;
    mix-blend-mode: difference;
}

img.not-selected-icon {
    height: 50px;
    position: absolute;
    right: 8px;
    bottom: 5px;
    mix-blend-mode: difference;
}

.selected-icon-ct {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 8px;
    bottom: 5px;
    background-image: url('../images/thumbnail-not-selected@2x.png');
    mix-blend-mode: difference;
    background-size: contain;
}

.is-selected .selected-icon-ct {
    background-image: url('../images/thumbnail-selected-to-move@2x.png');
    mix-blend-mode: normal;
}

.is-displaying {
    border: 8px solid red;
}

.is-grouped {
    border: 8px dashed #0099ff;
}

/** area dropdowns **/
.pg-dropdown {
    border-bottom: 1px solid #d0d2d3;
    min-width: 450px;
}

.pg-dropdown button,
.pg-dropdown button:hover,
.pg-dropdown button:active,
.pg-dropdown button:focus {
    color: #d0d2d3;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
}

.pg-dropdown .dropdown-menu {
    background-color: #202329;
    border-color: #d0d2d3;
    width: 98%;
    max-height: 95vh;
}

.pg-dropdown .dropdown-item {
    color: #d0d2d3;
    border: 0;
    padding: 5px 12px;
}

.pg-dropdown .dropdown-item:hover {
    background-color: #202329;
    color:  #0099ff;
    border: 0;
}

.leader-btn-label {
    color: #d0d2d3;
    margin: 0 8px 0 0;
}

/** Modal **/
.modal-dialog {
    max-width: 750px;
}

.modal-content {
    padding: 80px;
    background-color: #343940;
    width: 750px;
}

.modal-title {
    color: #9cdaeb;
    text-transform: uppercase;
}

.modal-body {
    color: #d0d2d3;
}

.modal-footer {
    border: 0;
    border-color: transparent;
}

/** display mode tabs **/
#pg-display-mode-ct {
    padding: 0px 42px 16px 42px;
}

.display-grid-icon-ct {
    width: 50px;
    height: 50px;
    margin: 0 28px 0;
    background-image: url('../images/grid-pressed@2x.png');
    background-size: contain;
    cursor: pointer;
}

.layout-mode-selected .display-grid-icon-ct {
    background-image: url('../images/grid@2x.png');
}

.display-layout-icon-ct {
    width: 50px;
    height: 50px;
    background-image: url('../images/full-screen@2x.png');
    background-size: contain;
    cursor: pointer;
}

.layout-mode-selected .display-layout-icon-ct {
    background-image: url('../images/full-screen-pressed@2x.png');
}

/** sessions list grid **/
.pg-sessions-grid-ct {
    flex: 1;
}

.pg-sessions-grid-ct .jsgrid-grid-body {
    overflow: hidden;
}

.pg-sessions-grid-ct .jsgrid-header-scrollbar {
    padding-right: 13px;
}

.pg-sessions-grid-ct .jsgrid-header-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

/** control ct, action buttons **/
.control-ct {
    margin-right: 20px;
}

.control-ct button {
    background-color: transparent;
    border: 0;
    font-size: 3.2rem;
    color: #d0d2d3;
    cursor: pointer;   
}

.control-ct button:hover {
    color: #0099ff;
}

.control-ct button[disabled] {
    color: #d0d2d3;
    opacity: .3;
}

/** session edit **/
.pg-session-ct .card {
    background: #31343A;
}

.pg-session-ct .card-header {
    background: transparent;
    border-color: #d0d2d3;
}

.pg-session-ct .card-block {
    padding-top: 20px;
}

.pg-session-ct .form-control {
    height: calc(4.25rem + 2px);
}

#headingOne button,
#headingTwo button {
    color: #9cdaeb;
    text-decoration: none;
}

#headingOne button:hover,
#headingOne button:focus,
#headingTwo button:hover,
#headingTwo button:focus {
    color: #0099ff;
    text-decoration: none;
}

#session-name {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0;
}

.pg-area-list-header {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid white;
}

.pg-custom-checkbox {
    cursor: pointer;
    padding: .4rem .8rem;
    margin: 0 0 .8rem 0;
}

#assign-all-areas {
    text-decoration: none;
    color: #9cdaeb;
}

#assign-all-areas:hover {
    text-decoration: none;
    color: #0099ff;
}

.custom-control-indicator {
    height: 32px;
    width: 32px;
    background-image: url('../images/thumbnail-not-selected@2x.png');
    background-size: contain;
    display: inline-block;
    background-position: center;
}

input:checked + .custom-control-indicator {
    background-image: url('../images/thumbnail-selected-to-move@2x.png');
    background-size: contain;
}

.custom-control-description {
    padding-top: 4px;
    color: #d0d2d3;
}

.pg-itm-has-content {
    color: #0099ff;
}

#save-content[disabled] {
    background: #31343A;
    opacity: .3;
    border-color: #31343A;
}

.pg-content-editor-header h1 {
    padding-top: 2px;
}

.pg-editable .leader-btn-label {
    padding-top: 4px;
    text-transform: uppercase;
}

.pg-editable .switch {
    padding-bottom: 4px;
    margin-bottom: 0;
}

#session-cancel {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #d0d2d3;
    /* text-transform: uppercase; */
}

/** configure frame details **/
.pg-configure-frame-details {
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    mix-blend-mode: difference;
    color: #ffffff;
    cursor: pointer;
}

.pg-configure-frame-details:hover {
    color: #0099ff;
    mix-blend-mode: normal;
}

/** item remove **/
.pg-item-remove {
    background: transparent;
    border: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 30px;
    mix-blend-mode: difference;
    color: #ffffff;
    cursor: pointer;
}

.pg-item-remove:hover {
    color: red;
    mix-blend-mode: normal;
}

/** Frame Editor Modal **/
.modal-lg {
    max-width: 900px;
}

.frame-editor-modal-content {
    padding: 40px;
    background-color: #343940;
    width: 900px;
}

.frame-editor-modal-content .modal-title {
    color: #9cdaeb;
    text-transform: uppercase;
}

.frame-editor-modal-content .modal-body {
    color: #d0d2d3;
}

.frame-editor-modal-content .modal-footer {
    border: 0;
    border-color: transparent;
}

.pg-details-editor-content .card-header {
    background-color: #6c757d;
    border-bottom: 1px #d0d2d3 solid; 
}

.pg-details-editor-content .card-header button {
    color: #d0d2d3;
    background-color: transparent;
}

.pg-details-editor-content .card-header button:hover,
.pg-details-editor-content .card-header button:focus {
    text-decoration: none;
    color: #0099ff;
}

.pg-details-editor-content .card-body {
    background-color: #343940;
}

.pg-details-editor-content textarea {
    width: 100%;
    height: 300px;
}
